@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant/Cormorant-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant/Cormorant-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant/Cormorant-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "CormorantUpright";
  src: url("../fonts/CormorantUpright/CormorantUpright-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "CormorantUpright";
  src: url("../fonts/CormorantUpright/CormorantUpright-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller/MullerBold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller/MullerLight.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller/MullerExtraBold.woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller/MullerRegular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller/MullerMuller.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller/MullerUltraLight.woff2");
  font-weight: 250;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Muller";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1620px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background: -o-linear-gradient(337.79deg, #1F1F1F 2.72%, #121212 101.59%);
  background: linear-gradient(112.21deg, #1F1F1F 2.72%, #121212 101.59%);
}

.header {
  background: -o-linear-gradient(337.79deg, rgba(31, 31, 31, 0.91) 2.72%, rgba(18, 18, 18, 0.91) 101.59%);
  background: linear-gradient(112.21deg, rgba(31, 31, 31, 0.91) 2.72%, rgba(18, 18, 18, 0.91) 101.59%);
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header__nav {
  padding: 35px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__list:first-of-type {
  gap: 60px;
}

.header__list-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: .05em;
  color: rgba(255,255,255,.5);
}

.header__list-link.active {
  text-shadow: 0px 0px 10px rgba(255,255,255,.7);
  color: #fff;
}

.header .list.active {
  display: none;
}

.header__item:first-of-type {
  border-right: 2px solid rgba(255,255,255,.5);
  padding-right: 12px;
}

.header__item:nth-of-type(2) {
  padding-left: 12px;
}

.header__link-lang {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: rgba(255,255,255,.4);
}

.header__link-lang.active {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255,255,255,.7);
}

.header__link {
  margin-left: 40px;
}

.header__info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
  max-width: 780px;
  width: 100%;
}

.header__title span {
  font-weight: 300;
}

.header__text {
  font-weight: 250;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: .05em;
  color: #fff;
  max-width: 780px;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 27px;
}

.header__link-order {
  width: 360px;
  height: 60px;
}

.link {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #fff;
}

.sidebar {
  margin-left: -548px;
  width: 619px;
  height: 100vh;
  z-index: 999;
  position: absolute;
  background: -o-linear-gradient(337.79deg, #1f1f1f 2.72%, #121212 101.59%);
  background: linear-gradient(112.21deg, #1f1f1f 2.72%, #121212 101.59%);
  -webkit-box-shadow: 10px 0px 20px rgba(0,0,0,.25);
  box-shadow: 10px 0px 20px rgba(0,0,0,.25);
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  position: fixed;
}

.sidebar.active {
  margin-left: 0px;
}

.sidebar.active .icon:nth-of-type(1) {
  left: -100%;
  top: 20px;
}

.sidebar.active .icon:nth-of-type(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sidebar.active .icon:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sidebar.active .icon:nth-of-type(4) {
  left: 100%;
  top: 20px;
}

.view {
  background: -o-linear-gradient(337.79deg, #1F1F1F 2.72%, #121212 101.59%);
  background: linear-gradient(112.21deg, #1F1F1F 2.72%, #121212 101.59%);
  padding-top: 130px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.view__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 220px));
  grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 45px;
  -moz-column-gap: 45px;
  column-gap: 45px;
  row-gap: 40px;
}

.view__item {
  padding-top: 27px;
  background: #232323;
  -webkit-box-shadow: 0px 20px 60px rgba(0,0,0,.6);
  box-shadow: 0px 20px 60px rgba(0,0,0,.6);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.view__item-img img {
  width: 100%;
}

.view__item img {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.view__item:hover img {
  opacity: 1;
}

.view__item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.view__item-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  letter-spacing: .05em;
  color: #fff;
  margin-bottom: 16px;
}

.view__desc {
  border-top: 1px solid #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.view__desc-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 0;
  font-weight: 250;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: .05em;
  color: rgba(255,255,255,.5);
  gap: 10px;
}

.view__desc-text:nth-of-type(1),
.view__desc-text:nth-of-type(2) {
  border-bottom: 2px solid #292929;
}

.view__desc-text:nth-of-type(1),
.view__desc-text:nth-of-type(3) {
  border-right: 2px solid #292929;
}

.view__desc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
  background-color: #292929;
}

.view-img {
  width: 100%;
}

.aside-img {
  margin-top: 80px;
  margin-left: 55px;
}

.ul-aside {
  width: 371px;
  margin-top: 50px;
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.radius {
  margin-top: 40px;
  border: 1px solid #c4c4c4;
  opacity: 0;
}

.radius.active {
  opacity: 1;
}

.list {
  position: absolute;
  bottom: 147px;
  right: -19px;
}

.aside-pp {
  color: #fff;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.aside-link {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 300;
}

.menu {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 24px;
  top: 42px;
  overflow: hidden;
  -webkit-transition: .7;
  -o-transition: .7;
  transition: .7;
}

.icon:nth-of-type(1),
.icon:nth-of-type(2),
.icon:nth-of-type(3),
.icon:nth-of-type(4) {
  position: absolute;
  width: 100%;
  height: 2px;
  right: 0;
  top: 20px;
  background-color: rgba(214,224,214,.812);
}

.icon:nth-of-type(1) {
  top: 10px;
}

.icon:nth-of-type(4) {
  top: 30px;
}

.aside-footer {
  width: 460px;
  margin-top: 44px;
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.footer-link {
  color: rgba(255,255,255,.5);
  font-family: "Montserrat";
  font-weight: 300;
}

.model {
  background: -o-linear-gradient(337.79deg, #1f1f1f 2.72%, #121212 101.59%);
  background: linear-gradient(112.21deg, #1f1f1f 2.72%, #121212 101.59%);
  width: 100%;
  padding-top: 140px;
  position: relative;
}

.model.active .view {
  opacity: 1;
  pointer-events: all;
}

.model-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.model__box {
  padding-right: 80px;
  position: relative;
}

.model-desc {
  max-width: 760px;
  width: 100%;
  margin-top: 66px;
}

.model__desc-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.model__desc-title span {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

.model__desc-text {
  font-weight: 250;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: .05em;
  color: #fff;
  margin-top: 7px;
  margin-bottom: 33px;
}

.model__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.model__item-link {
  width: 360px;
  height: 60px;
  background-color: #fff;
  color: #1b1b1b;
}

.all-model {
  width: 360px;
  height: 60px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #232323;
  -webkit-box-shadow: 0px 10px 30px rgba(0,0,0,.15);
  box-shadow: 0px 10px 30px rgba(0,0,0,.15);
}

.swiper__item {
  max-width: 520px;
  width: 100%;
}

.swiper__item-title {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 35px;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.swiper__desc {
  max-width: 260px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-left: 1px solid #c4c4c4;
}

.swiper__desc-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-bottom: 1px solid #c4c4c4;
  font-weight: 250;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: .05em;
  color: rgba(255,255,255,.5);
  gap: 10px;
}

.swiper__desc-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #292929;
}

.swiper__controls {
  position: absolute;
  top: 38%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 26px;
}

.swiper__controls * {
  position: static;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(255,255,255,.1);
}

.swiper-button-next {
  margin-top: 10px;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 38px;
}

.swiper-pagination-bullet {
  background-color: unset;
  color: #c4c4c4;
  font-weight: 250;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: .185em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.ver .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ver .block__text {
  width: 522px;
  height: 334px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 340px 0 332px 30px;
}

.ver .block__text h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.ver .block__text p {
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255,255,255,.55);
  padding-top: 19px;
}

.ver .block--img {
  margin-left: 360px;
  margin-top: 120px;
}

.ver .block__vertalyot {
  width: 848px;
}

.ver .block .item {
  padding-top: 43px;
}

.ver .block__item {
  padding: 15px 50px;
  width: 240px;
  height: 60px;
  background-color: #1b1b1b;
  color: #c4c4c4;
  border: 1px solid #fff;
}

.ver .block .block__link {
  width: 123px;
  padding: 145px 173px 146px 0px;
}

.ver .block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 40px;
}

.ver .block__li {
  font-family: "Montserrat";
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}

.about {
  position: relative;
  padding-bottom: 144px;
}

.about.active .desc {
  opacity: 1;
  pointer-events: all;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__text {
  padding-top: 30px;
}

.about__title {
  width: 460px;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 50px;
}

.about__title span {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 30px;
}

.about__subtitle {
  width: 666px;
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255,255,255,.55);
}

.about--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.about--ul h1 {
  width: 127px;
  color: #fff;
}

.about--ul h1 p {
  color: rgba(255,255,255,.55);
  font-size: 18px;
  line-height: 30px;
}

.about--img {
  width: 500px;
}

.about--img img {
  width: 100%;
}

.about-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
  color: #fff;
}

.about-more a {
  color: #fff;
}

.desc {
  padding-top: 50px;
  background: -o-linear-gradient(337.79deg, #1F1F1F 2.72%, #121212 101.59%);
  background: linear-gradient(112.21deg, #1F1F1F 2.72%, #121212 101.59%);
  padding-top: 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.desc__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.desc__text {
  padding-top: 30px;
}

.desc__title {
  width: 460px;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 50px;
}

.desc__title span {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 30px;
}

.desc__subtitle {
  width: 666px;
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255,255,255,.55);
}

.desc--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.desc--ul h1 {
  width: 127px;
  color: #fff;
}

.desc--ul h1 p {
  color: rgba(255,255,255,.55);
  font-size: 18px;
  line-height: 30px;
}

.desc--img {
  width: 500px;
}

.desc--img img {
  width: 100%;
}

.desc__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  height: 70vh;
}

.desc.active {
  pointer-events: none;
}

.panel {
  width: 15%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .7s all ease;
  -o-transition: .7s all ease;
  transition: .7s all ease;
}

.panel img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
}

.panel span {
  position: absolute;
  top: 35px;
  left: 10px;
  font-size: 50px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.panel img {
  width: 100%;
  height: 100%;
}

.panel h2 {
  position: absolute;
  bottom: 42px;
  left: 15px;
  font-size: 60px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
}

.panel.active {
  width: 90%;
}

.panel.active h2 {
  opacity: 1;
}

.box_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 78px;
}

.box_content_left h2 {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.box_content_left span {
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.box .vector {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  width: 800px;
}

.box .vector_img {
  width: 150px;
  text-align: center;
}

.box .vector_imgimg {
  width: 50px;
}

.box .vector_img h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 100%;
  padding-top: 30px;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.box .vector_img p {
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.box .right {
  margin-left: 100px;
  width: 600px;
  text-align: center;
  background: #232323;
  -webkit-box-shadow: 0px 10px 30px rgba(0,0,0,.15);
  box-shadow: 0px 10px 30px rgba(0,0,0,.15);
}

.box .right_title {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.box .right_title span {
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.box .right_title h3 {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  line-height: 100%;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.box .right_input {
  width: 440px;
  height: 60px;
  margin-top: 39px;
  margin-bottom: 35px;
}

.box .right_input input {
  padding: 21px 200px 19px 22px;
  background: rgba(0,0,0,.2);
}

.box .right_btn {
  width: 440px;
  height: 60px;
}

.box .right_btn input {
  padding: 21px 200px 19px 22px;
  background: rgba(0,0,0,.2);
}

.box .right_item {
  margin-top: 60px;
}

.box .right_item a {
  margin-top: 50px;
  height: 60px;
  padding: 21px 220px 19px 22px;
  background: #fff;
  color: #1b1b1b;
}

.box .text {
  margin-top: 50px;
  text-align: center;
  font-size: 21px;
  color: rgba(255,255,255,.55);
}

.box .box_content_right {
  background: #232323;
  -webkit-box-shadow: 0px 10px 30px rgba(0,0,0,.15);
  box-shadow: 0px 10px 30px rgba(0,0,0,.15);
  width: 5540px;
}

.btn {
  background: -o-linear-gradient(337.79deg, #1F1F1F 2.72%, #121212 101.59%);
  background: linear-gradient(112.21deg, #1F1F1F 2.72%, #121212 101.59%);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
}

.btn p {
  text-align: left;
}

.btn span {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.btn-title {
  max-width: 500px;
  width: 100%;
  font-weight: 700;
  font-size: 59px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
}

.btn-sector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 98px;
}

.btn-sector-img {
  width: 800px;
}

.btn_paragrof {
  margin-top: 40px;
  color: #fff;
}

.btn-imp {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.btn-imp [type=radio]:checked,
.btn-imp [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.btn-imp [type=radio]:checked+label,
.btn-imp [type=radio]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

.btn-imp [type=radio]:checked+label:before,
.btn-imp [type=radio]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: -o-linear-gradient(337.79deg, #1F1F1F 2.72%, #121212 101.59%);
  background: linear-gradient(112.21deg, #1F1F1F 2.72%, #121212 101.59%);
}

.btn-imp [type=radio]:checked+label:after,
.btn-imp [type=radio]:not(:checked)+label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-imp [type=radio]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.btn-imp [type=radio]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.btn_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 63px;
}

.custom-select {
  width: 510px;
  color: #fff;
  padding: 21px 440px 19px 22px;
  position: relative;
  display: inline-block;
}

.custom-select select {
  display: block;
  width: 518px;
  min-height: 35px;
  background: rgba(0,0,0,.2);
  color: #fff;
  outline: none;
  padding: 21px 20px 19px 22px;
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.custom-select::after {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  border-top-color: #222;
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: -10px;
}

.custom-select .selector-options {
  list-style: none;
  padding: 5px 0;
  margin-top: 50px;
  background: rgba(0,0,0,.2);
  color: #fff;
  border-radius: 4px;
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 1%;
  top: 35%;
}

.custom-select .selector-options li {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 40px;
  cursor: pointer;
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
  background: rgba(0,0,0,.2);
}

.custom-select .selector-options li:hover {
  background: rgba(123,121,121,.408);
}

.expert-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 518px;
  padding: 19px 37px 20px 36px;
  margin-top: 50px;
  background: #232323;
  text-align: center;
}

.expert-box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 21px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: .05em;
  color: #fff;
}

.expert-box-p {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: .05em;
  color: #fff;
}

.expert-boxp {
  width: 540px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.courser .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 50px 0px;
}

.courser .grid .grid_1 {
  width: 100%;
  padding: 20px 20px 10px 20px;
  background: #232323;
}

.courser .grid .grid_1 .pointer-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.courser .grid .grid_1 .about-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_1 .about-title span {
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_1 p {
  margin-left: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.courser .grid .grid_1 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 20px 20px 245px;
  gap: 10px;
}

.courser .grid .grid_1 .item a {
  color: #fff;
}

.courser .grid .grid_2 {
  width: 100%;
  padding: 20px 20px 10px 20px;
  background: #232323;
}

.courser .grid .grid_2 .pointer-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.courser .grid .grid_2 .about-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_2 .about-title span {
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_2 p {
  margin-left: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.courser .grid .grid_2 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 20px 20px 245px;
  gap: 10px;
}

.courser .grid .grid_2 .item a {
  color: #fff;
}

.courser .grid .grid_3 {
  width: 100%;
  padding: 20px 20px 10px 20px;
  background: #232323;
}

.courser .grid .grid_3 .pointer-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.courser .grid .grid_3 .about-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_3 .about-title span {
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_3 p {
  margin-left: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.courser .grid .grid_3 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 20px 20px 245px;
  gap: 10px;
}

.courser .grid .grid_3 .item a {
  color: #fff;
}

.courser .grid .grid_4 {
  width: 100%;
  padding: 20px 20px 10px 20px;
  background: #232323;
}

.courser .grid .grid_4 .pointer-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.courser .grid .grid_4 .about-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_4 .about-title span {
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_4 p {
  margin-left: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.courser .grid .grid_4 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 20px 20px 245px;
  gap: 10px;
}

.courser .grid .grid_4 .item a {
  color: #fff;
}

.courser .grid .grid_5 {
  width: 100%;
  padding: 20px 20px 10px 20px;
  background: #232323;
}

.courser .grid .grid_5 .pointer-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.courser .grid .grid_5 .about-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_5 .about-title span {
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_5 p {
  margin-left: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.courser .grid .grid_5 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 20px 20px 245px;
  gap: 10px;
}

.courser .grid .grid_5 .item a {
  color: #fff;
}

.courser .grid .grid_6 {
  width: 100%;
  padding: 20px 20px 10px 20px;
  background: #232323;
}

.courser .grid .grid_6 .pointer-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.courser .grid .grid_6 .about-title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_6 .about-title span {
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.courser .grid .grid_6 p {
  margin-left: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.courser .grid .grid_6 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 20px 20px 245px;
  gap: 10px;
}

.courser .grid .grid_6 .item a {
  color: #fff;
}

.togle {
  padding-top: 80px;
}

.togle .togle-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.togle .togle-grid .block-img img {
  width: 100%;
}

.togle .togle-grid .grid-bloc_1 {
  max-width: 400px;
  background: #232323;
}

.togle .togle-grid .grid-bloc_1 .grid_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_1 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-top: 6px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_1 p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: 7px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.togle .togle-grid .grid-bloc_1 .grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 10px;
}

.togle .togle-grid .grid-bloc_1 .grid_item a {
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: .05em;
  color: #fff;
}

.togle .togle-grid .grid-bloc_2 {
  max-width: 400px;
  background: #232323;
}

.togle .togle-grid .grid-bloc_2 .grid_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_2 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-top: 6px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_2 p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: 7px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.togle .togle-grid .grid-bloc_2 .grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 10px;
}

.togle .togle-grid .grid-bloc_2 .grid_item a {
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: .05em;
  color: #fff;
}

.togle .togle-grid .grid-bloc_3 {
  max-width: 400px;
  background: #232323;
}

.togle .togle-grid .grid-bloc_3 .grid_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_3 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-top: 6px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_3 p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: 7px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.togle .togle-grid .grid-bloc_3 .grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 10px;
}

.togle .togle-grid .grid-bloc_3 .grid_item a {
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: .05em;
  color: #fff;
}

.togle .togle-grid .grid-bloc_4 {
  max-width: 400px;
  background: #232323;
}

.togle .togle-grid .grid-bloc_4 .grid_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_4 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-top: 6px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_4 p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: 7px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.togle .togle-grid .grid-bloc_4 .grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 10px;
}

.togle .togle-grid .grid-bloc_4 .grid_item a {
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: .05em;
  color: #fff;
}

.togle .togle-grid .grid-bloc_5 {
  max-width: 400px;
  background: #232323;
}

.togle .togle-grid .grid-bloc_5 .grid_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_5 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-top: 6px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_5 p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: 7px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.togle .togle-grid .grid-bloc_5 .grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 10px;
}

.togle .togle-grid .grid-bloc_5 .grid_item a {
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: .05em;
  color: #fff;
}

.togle .togle-grid .grid-bloc_6 {
  max-width: 400px;
  background: #232323;
}

.togle .togle-grid .grid-bloc_6 .grid_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_6 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-top: 6px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_6 p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: 7px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.togle .togle-grid .grid-bloc_6 .grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 10px;
}

.togle .togle-grid .grid-bloc_6 .grid_item a {
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: .05em;
  color: #fff;
}

.togle .togle-grid .grid-bloc_7 {
  max-width: 400px;
  background: #232323;
}

.togle .togle-grid .grid-bloc_7 .grid_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_7 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-top: 6px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_7 p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: 7px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.togle .togle-grid .grid-bloc_7 .grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 10px;
}

.togle .togle-grid .grid-bloc_7 .grid_item a {
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: .05em;
  color: #fff;
}

.togle .togle-grid .grid-bloc_8 {
  max-width: 400px;
  background: #232323;
}

.togle .togle-grid .grid-bloc_8 .grid_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_8 h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-top: 6px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
}

.togle .togle-grid .grid-bloc_8 p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: 7px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.togle .togle-grid .grid-bloc_8 .grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 10px;
}

.togle .togle-grid .grid-bloc_8 .grid_item a {
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: .05em;
  color: #fff;
}

.footer .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px;
}

.footer .number .number_1 {
  width: 50px;
  height: 50px;
  border: 1px solid #464646;
  position: relative;
}

.footer .number .number_1 p {
  position: absolute;
  top: 18px;
  left: 20px;
  color: #464646;
}

.footer .number .number_1:hover {
  border: 1px solid #fff;
}

.footer .footer_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.footer .footer_btn .footer_btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 27px;
  letter-spacing: .05em;
  color: #fff;
}

.footer .footer_btn .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.footer .footer_btn .footer-text li {
  color: rgba(255,255,255,.55);
}

.footer .footer_btn .footer-text .footer-li_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.footer .footer_btn .footer-text .footer-li_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.footer .footer-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.footer .footer-pop .pop {
  width: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: .05em;
  color: #fff;
}

.footer .footer-pop .pop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.footer .footer-pop .pop_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.footer .footer-pop .pop-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: .05em;
  color: #fff;
}

.footer .footer-pop .pop li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.55);
}

.footer__box .footer__box-h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
}

.footer__box p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .05em;
  margin-top: 10px;
  padding-bottom: 30px;
  color: rgba(255,255,255,.55);
}

.footer__box .footer__box-span {
  font-weight: 300;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
}

.footer__box .footer_input {
  width: 500px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__box .footer_input input {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .05em;
  color: rgba(255,255,255,.2);
}

.footer__box .footer_input a {
  padding: 15px 30px 15px 32px;
  background-color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #111;
}

@media (max-width: 1620px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1320px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}