$Cormorant:("Bold",700),("Light",300),("Regular",400);

@each $name,$weight in $Cormorant {
    @font-face {
        font-family: "Cormorant";
        src: url("../fonts/Cormorant/Cormorant-#{$name}.woff2");
        font-weight: $weight;
    }
}
$CormorantUpright:("Bold",700),("Light",300);

@each $name,$weight in $CormorantUpright {
    @font-face {
        font-family: "CormorantUpright";
        src: url("../fonts/CormorantUpright/CormorantUpright-#{$name}.woff2");
        font-weight: $weight;
    }
}
$Montserrat:("Bold",700),("Light",300),("ExtraLight",200),("SemiBold",600);
@each $name,$weight in $Montserrat {
    @font-face {
        font-family: "Montserrat";
        src: url("../fonts/Montserrat/Montserrat-#{$name}.woff2");
        font-weight: $weight;
    }
}
$Muller:("Bold",700),("Light",300),("ExtraBold",800),("Regular",400),("Muller",100),("UltraLight",250);
@each $name,$weight in $Muller {
    @font-face {
        font-family: "Muller";
        src: url("../fonts/Muller/Muller#{$name}.woff2");
        font-weight: $weight;
    }
}