<box class="box">
    <div class="container">
        <div class="box_content">
            <div class="box_content_left">
                <h2>что вы получите</h2>
                <span>приобретая robinson</span>
                <div class="vector">
                    <div class="vector_img">
                        <img src="../img/vec-1.webp" alt="">
                        <h3>Статус</h3><br>


                        <br>
                        <p>Вертолет - это престижная покупка, которая
                            подчеркивает не только ваш статус, но и статус вашей компании</p>
                    </div>
                    <div class="vector_img">
                        <img src="../img/vec-2.webp" alt="">
                        <h3>Статус</h3><br>


                        <br>
                        <p>Экономия времени
                            при полете
                            на вертолете относительно автомобиля составляет от 3 до 8 раз</p>
                    </div>
                    <div class="vector_img">
                        <img src="../img/vec-3.webp" alt="">
                        <h3>Статус</h3><br>


                        <br>
                        <p>Вертолет способен доставить вас в те места, куда не добраться на любом другом транспорте для
                            бизнеса или же отдыха</p>
                    </div>
                    <div class="vector_img">
                        <img src="../img/vec-4.webp" alt="">
                        <h3>Статус</h3><br>


                        <br>
                        <p>Никакие пробки
                            и заторы на дорогах
                            не страшны</p>
                    </div>
                </div>
            </div>
            <div class="box_content_right">
                <div class="right_title">
                    <span>Есть Вопросы?</span>
                    <h3> Оставьте заявку
                        прямо сейчас</h3>
                    <div class="right_input">
                        <input type="text" placeholder="Имя">
                    </div>
                    <div class="right_btn">

                        <input type="tel" placeholder="Номер телефона">
                    </div>
                    <div class="right_item">

                        <a href="">Оставить заявку</a>
                    </div>
                </div>

                <p class="text">Оставьте заявку, мы перезвоним вам в ближайшее время и ответим на все ваши вопросы</p>
            </div>

        </div>
    </div>

</box>
<section class="btn">
    <div class="container">
        <div class="btn-sector">
            <div class="btn-img">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Vmpd2rxXKqW48mPTVYpRKQmXQUBW-6g&ehbc=2E312F"
                    width="640" height="480"></iframe>
                <!-- <img src="../img/kkk.webp" alt=""> -->
            </div>
            <div div class="btn-right">


                <p class="btn-title">на авто <span>или</span>
                    на robinson?</p>

                <div class="btn_checkbox">
                    <form class="btn-imp">
                        <input type="radio" id="popular" name="fav_route" value="popular">
                        <label for="popular">Популярный маршрут</label>
                        <input type="radio" id="another" name="fav_route" value="another">
                        <label for="another">Другой маршрут</label>
                    </form>
                </div>

                <p class="btn_paragrof">От куда:</p>
                <div class="custom-select">

                    <select name="sample">
                        <option value="1">Москва</option>
                        <option value="2">Тверь</option>
                        <option value="3">Подольск</option>
                        <option value="4">Владимир</option>
                    </select>
                </div>


                <p class="btn_paragrof">Куда:</p>
                <div class="custom-select">
                    <select name="sample">
                        <option value="1">Москва</option>
                        <option value="2">Тверь</option>
                        <option value="3">Подольск</option>
                        <option value="4">Владимир</option>
                    </select>
                </div>
                <div class="expert-box">
                    <div class="expert-box-img">

                        <img src="../img/vere11.webp" alt="">
                        <p class="expert-box-img-p">40 мин</p>
                    </div>
                      <div class="expert-box-img">

                          <img src="../img/vere2.webp" alt="">
                          <p class="expert-box-img-p">2 ч 20 мин</p>
                      </div>
                    </div>
                 





            </div>
        </div>

    </div>



</section>
<section class="courser">
  <div class="container">
    <div class="grid">

        <div class="grid_1">
            <div class="pointer-pop">
                <div class="about-img">
    
                    <img src="../img/icon1.webp" alt="">
                </div>
                <div class="about-title">
                    <h2>Продажа</h2>
                        <span>вертолетов</span> 
    
                </div>
            </div>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры  требуют требуют требуют</p>
            <div class="item">
                <a href="">Подробнее</a>
                 <img src="../img/icon7.webp" alt="">
            </div>
        </div>
        <div class="grid_2">
            <div class="pointer-pop">
                <div class="about-img">
    
                    <img src="../img/icon2.webp" alt="">
                </div>
                <div class="about-title">
                    <h2>Продажа</h2>
                        <span>вертолетов</span> 
    
                </div>
            </div>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры  требуют требуют требуют</p>
            <div class="item">
                <a href="">Подробнее</a>
                 <img src="../img/icon7.webp" alt="">
            </div>
        </div>
        <div class="grid_3">
            <div class="pointer-pop">
                <div class="about-img">
    
                    <img src="../img/icon3.webp" alt="">
                </div>
                <div class="about-title">
                    <h2>Продажа</h2>
                        <span>вертолетов</span> 
    
                </div>
            </div>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры  требуют требуют требуют</p>
            <div class="item">
                <a href="">Подробнее</a>
                 <img src="../img/icon7.webp" alt="">
            </div>
        </div>
        <div class="grid_4">
            <div class="pointer-pop">
                <div class="about-img">
    
                    <img src="../img/icon4.webp" alt="">
                </div>
                <div class="about-title">
                    <h2>Продажа</h2>
                        <span>вертолетов</span> 
    
                </div>
            </div>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры  требуют требуют требуют</p>
            <div class="item">
                <a href="">Подробнее</a>
                 <img src="../img/icon7.webp" alt="">
            </div>
        </div>
        <div class="grid_5">
            <div class="pointer-pop">
                <div class="about-img">
    
                    <img src="../img/icon5.webp" alt="">
                </div>
                <div class="about-title">
                    <h2>Продажа</h2>
                        <span>вертолетов</span> 
    
                </div>
            </div>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры  требуют требуют требуют</p>
            <div class="item">
                <a href="">Подробнее</a>
                 <img src="../img/icon7.webp" alt="">
            </div>
        </div>
        <div class="grid_6">
            <div class="pointer-pop">
                <div class="about-img">
    
                    <img src="../img/icon6.webp" alt="">
                </div>
                <div class="about-title">
                    <h2>Продажа</h2>
                        <span>вертолетов</span> 
    
                </div>
            </div>
            <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры  требуют требуют требуют</p>
            <div class="item">
                <a href="">Подробнее</a>
                 <img src="../img/icon7.webp" alt="">
            </div>
        </div>
     
    </div>
  </div>
</section>
<section class="togle">
  <div class="container">
    <div class="togle-grid">
        <div class="grid-bloc_1">
            <div class="block">
                <div class="block-img">

                    <img src="../img/rec1.webp" alt="">
                </div>
    
    
                <p class="grid_text">10.02.2021</p>
                <h3>Соглашение с аэропортом в Калуге</h3>
                <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения.</p>
                <div class="grid_item">
                    <a href="">Подробнее</a>
                    <img src="../img/icon7.webp" alt="">
                </div>
            </div>
        </div>
        <div class="grid-bloc_2">
            <div class="block">

                <div class="block-img">

                    <img src="../img/rec2.webp" alt="">
                </div>    
    
                <p class="grid_text">10.02.2021</p>
                <h3>Соглашение с аэропортом в Калуге</h3>
                <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения.</p>
                <div class="grid_item">
                    <a href="">Подробнее</a>
                    <img src="../img/icon7.webp" alt="">
                </div>
            </div>
        </div>
        <div class="grid-bloc_3">
            <div class="block">

                <div class="block-img">

                    <img src="../img/rec3.webp" alt="">
                </div>    
    
                <p class="grid_text">10.02.2021</p>
                <h3>Соглашение с аэропортом в Калуге</h3>
                <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения.</p>
                <div class="grid_item">
                    <a href="">Подробнее</a>
                    <img src="../img/icon7.webp" alt="">
                </div>
            </div>
        </div>
        <div class="grid-bloc_4">
            <div class="block">

                <div class="block-img">

                    <img src="../img/rec4.webp" alt="">
                </div>    
    
                <p class="grid_text">10.02.2021</p>
                <h3>Соглашение с аэропортом в Калуге</h3>
                <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения.</p>
                <div class="grid_item">
                    <a href="">Подробнее</a>
                    <img src="../img/icon7.webp" alt="">
                </div>
            </div>
        </div>
        <div class="grid-bloc_5">
            <div class="block">

                <div class="block-img">

                    <img src="../img/rec5.webp" alt="">
                </div>    
    
                <p class="grid_text">10.02.2021</p>
                <h3>Соглашение с аэропортом в Калуге</h3>
                <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения.</p>
                <div class="grid_item">
                    <a href="">Подробнее</a>
                    <img src="../img/icon7.webp" alt="">
                </div>
            </div>
        </div>
        <div class="grid-bloc_6">
            <div class="block">

                <div class="block-img">

                    <img src="../img/rec6.webp" alt="">
                </div>    
    
                <p class="grid_text">10.02.2021</p>
                <h3>Соглашение с аэропортом в Калуге</h3>
                <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения.</p>
                <div class="grid_item">
                    <a href="">Подробнее</a>
                    <img src="../img/icon7.webp" alt="">
                </div>
            </div>
        </div>
        <div class="grid-bloc_7">
            <div class="block">

                <div class="block-img">

                    <img src="../img/rec7.webp" alt="">
                </div>    
    
                <p class="grid_text">10.02.2021</p>
                <h3>Соглашение с аэропортом в Калуге</h3>
                <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения.</p>
                <div class="grid_item">
                    <a href="">Подробнее</a>
                    <img src="../img/icon7.webp" alt="">
                </div>
            </div>
        </div>
        <div class="grid-bloc_8">
            <div class="block">

                <div class="block-img">

                    <img src="../img/rec8.webp" alt="">
                </div>    
    
                <p class="grid_text">10.02.2021</p>
                <h3>Соглашение с аэропортом в Калуге</h3>
                <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения.</p>
                <div class="grid_item">
                    <a href="">Подробнее</a>
                    <img src="../img/icon7.webp" alt="">
                </div>
            </div>
        </div>

        
       
    </div>
  </div>
</section>
<section class="footer">

    <div class="number">
        <div class="number_1">
            <p>1</p>
        </div>
        <div class="number_1">
            <p>2</p>
        </div>
        <div class="number_1">
            <p>3</p>
        </div>
        <div class="number_1">
           <p>...</p>
        </div>
        <div class="number_1">
            <p>24</p>
        </div>
    </div>
    <div class="container">
        <p class="footer_btn">Каталог:</p>
      <div class="footer_btn">
        <div class="footer-text">

            <ul class="footer-li_1">
                <li>R22 Beta II</li>
                <li>R44 Clipper I</li>
                <li>R44Clipper II Popout</li>
                <li>R44 Clipper II Fixed</li>
                <li>R44 Raven I</li>
            </ul>
            <ul class="footer-li_2">
                <li>R44 Raven II</li>
                <li>R44 Cadet</li>
                <li>R44 Cadet with Floats</li>
                <li>R66 Turbine</li>
                <li>R66Turbine Marine</li>
            </ul>
        </div>
        <div class="footer-pop">
            <ul class="pop-icon">
                <li>Конфигуратор</li>
                <li>Наши работы</li>
                <li>Новости</li>
                <li>Обслуживание</li>
                <li>Тех. информация</li>
                <li>Запчасти</li>
            </ul>
           <div class="pop">
           <ul class="pop_btn">
            <li>О компании</li>
            <li>Доп. услуги:</li>
           </ul>
           <ul class="pop-item">
            <li>Покраска</li>
            <li>Тюнинг</li>
            <li>Установка доп. оборудования</li>
           </ul>
           </div>
        </div>
        <div class="footer__box">
            <h3 class="footer__box-h3">Будьте в курсе</h3>
               <span class="footer__box-span"> всех новостей</span>  
                <p class="footer_text">Подпишитесь на рассылку</p>
            <div class="footer_input">
                <input type="email" placeholder="Ваш E-mail">
                <a href="">Подписаться</a>
            </div>
        </div>

      </div>
    </div>

</section>