<main>
  <section class="model" id="model">
    <div class="container">
      <div class="model-box">
        <!-- Slider main container -->
        <div class="swiper">

          <div class="swiper-wrapper">

            <div class="swiper-slide">

              <div class="swiper-item">
                <h2 class="swiper__item-title">
                  Robinson R44
                  <img src="./img/statistic.webp" alt="">
                </h2>
                <img src="./img/R44.webp" alt="">
              </div>

              <div class="swiper__desc">
                <p class="swiper__desc-text">
                  <img src="./img/speed.svg" alt="">
                  240 км/ч
                </p>
                <p class="swiper__desc-text">
                  <img src="./img/place.svg" alt="">
                  3+1 пасс
                </p>
                <p class="swiper__desc-text">
                  <img src="./img/location.svg" alt="">
                  240 км/ч
                </p>
                <a href="#!" class="swiper__desc-link">Подробнее</a>
              </div>

            </div>
            <div class="swiper-slide">

              <div class="swiper-item">
                <h2 class="swiper__item-title">
                  Robinson R44
                  <img src="./img/statistic.webp" alt="">
                </h2>
                <img src="./img/R66 1.webp" alt="">
              </div>

              <div class="swiper__desc">
                <p class="swiper__desc-text">
                  <img src="./img/speed.svg" alt="">
                  240 км/ч
                </p>
                <p class="swiper__desc-text">
                  <img src="./img/place.svg" alt="">
                  3+1 пасс
                </p>
                <p class="swiper__desc-text">
                  <img src="./img/location.svg" alt="">
                  240 км/ч
                </p>
                <a href="#!" class="swiper__desc-link">Подробнее</a>
              </div>

            </div>
            <div class="swiper-slide">

              <div class="swiper-item">
                <h2 class="swiper__item-title">
                  Robinson R44
                  <img src="./img/statistic.webp" alt="">
                </h2>
                <img src="./img/R44.webp" alt="">
              </div>

              <div class="swiper__desc">
                <p class="swiper__desc-text">
                  <img src="./img/speed.svg" alt="">
                  240 км/ч
                </p>
                <p class="swiper__desc-text">
                  <img src="./img/place.svg" alt="">
                  3+1 пасс
                </p>
                <p class="swiper__desc-text">
                  <img src="./img/location.svg" alt="">
                  240 км/ч
                </p>
                <a href="#!" class="swiper__desc-link">Подробнее</a>
              </div>

            </div>
            <div class="swiper-slide">

              <div class="swiper-item">
                <h2 class="swiper__item-title">
                  Robinson R44
                  <img src="./img/statistic.webp" alt="">
                </h2>
                <img src="./img/R66 1.webp" alt="">
              </div>

              <div class="swiper__desc">
                <p class="swiper__desc-text">
                  <img src="./img/speed.svg" alt="">
                  240 км/ч
                </p>
                <p class="swiper__desc-text">
                  <img src="./img/place.svg" alt="">
                  3+1 пасс
                </p>
                <p class="swiper__desc-text">
                  <img src="./img/location.svg" alt="">
                  240 км/ч
                </p>
                <a href="#!" class="swiper__desc-link">Подробнее</a>
              </div>

            </div>


          </div>







        </div>
        <div class="swiper__controls">
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
        </div>


      </div>
      <div class="model-desc">
        <h2 class="model__desc-title">
          Много информации - не знаете
          <span>Что лучше выбрать?</span>
        </h2>
        <p class="model__desc-text">Оставьте заявку, мы перезвоним вам и ответим на все ваши вопросы</p>
        <div class="model__item">
          <a href="!#" class="link model__item-link">Оставить заявку</a>
          <a href="#" class="link all-model">Все модели</a>
        </div>


      </div>

    </div>
    <div class="view">
      <div class="container view__box">
        <div class="view__item">
          <h3 class="view__item-title">
            R22 Beta II
          </h3>
          <div class="view__item-img">
            <img src="./img/r1.webp" alt="">
          </div>
          <div class="view__desc">
            <p class="view__desc-text">
              <img src="./img/speed.svg" alt="">
              246 км/ч
            </p>
            <p class="view__desc-text">
              <img src="./img/place.svg" alt="">
              4+1 пасс
            </p>
            <p class="view__desc-text">
              <img src="./img/location.svg" alt="">
              648 км
            </p>
            <a href="#!" class="view__desc-link">Подробнее</a>
          </div>
        </div>
        <div class="view__item">
          <h3 class="view__item-title">
            R44 Clipper I
          </h3>
          <div class="view__item-img">

            <img src="./img/r2.webp" alt="">
          </div>
          <div class="view__desc">
            <p class="view__desc-text">
              <img src="./img/speed.svg" alt="">
              246 км/ч
            </p>
            <p class="view__desc-text">
              <img src="./img/place.svg" alt="">
              4+1 пасс
            </p>
            <p class="view__desc-text">
              <img src="./img/location.svg" alt="">
              648 км
            </p>
            <a href="#!" class="view__desc-link">Подробнее</a>
          </div>
        </div>
        <div class="view__item">
          <h3 class="view__item-title">
            R44 Clipper II Popout
          </h3>
          <div class="view__item-img">

            <img src="./img/R44white.webp" alt="">
          </div>
          <div class="view__desc">
            <p class="view__desc-text">
              <img src="./img/speed.svg" alt="">
              246 км/ч
            </p>
            <p class="view__desc-text">
              <img src="./img/place.svg" alt="">
              4+1 пасс
            </p>
            <p class="view__desc-text">
              <img src="./img/location.svg" alt="">
              648 км
            </p>
            <a href="#!" class="view__desc-link">Подробнее</a>
          </div>
        </div>
        <div class="view__item">
          <h3 class="view__item-title">
            R44 Clipper II Fixed
          </h3>
          <div class="view__item-img">

            <img src="./img/r4.webp" alt="">
          </div>
          <div class="view__desc">
            <p class="view__desc-text">
              <img src="./img/speed.svg" alt="">
              246 км/ч
            </p>
            <p class="view__desc-text">
              <img src="./img/place.svg" alt="">
              4+1 пасс
            </p>
            <p class="view__desc-text">
              <img src="./img/location.svg" alt="">
              648 км
            </p>
            <a href="#!" class="view__desc-link">Подробнее</a>
          </div>
        </div>
        <div class="view__item">
          <h3 class="view__item-title">
            R44 Raven I
          </h3>
          <div class="view__item-img">

            <img src="./img/r5.webp" alt="">
          </div>
          <div class="view__desc">
            <p class="view__desc-text">
              <img src="./img/speed.svg" alt="">
              246 км/ч
            </p>
            <p class="view__desc-text">
              <img src="./img/place.svg" alt="">
              4+1 пасс
            </p>
            <p class="view__desc-text">
              <img src="./img/location.svg" alt="">
              648 км
            </p>
            <a href="#!" class="view__desc-link">Подробнее</a>
          </div>
        </div>
        <div class="view__item">
          <h3 class="view__item-title">
            R44 Raven II
          </h3>
          <div class="view__item-img">

            <img src="./img/r6.webp" alt="">
          </div>
          <div class="view__desc">
            <p class="view__desc-text">
              <img src="./img/speed.svg" alt="">
              246 км/ч
            </p>
            <p class="view__desc-text">
              <img src="./img/place.svg" alt="">
              4+1 пасс
            </p>
            <p class="view__desc-text">
              <img src="./img/location.svg" alt="">
              648 км
            </p>
            <a href="#!" class="view__desc-link">Подробнее</a>
          </div>
        </div>
        <div class="view__item">
          <h3 class="view__item-title">
            R44 Cadet
          </h3>
          <div class="view__item-img">

            <img src="./img/r7.webp" alt="">
          </div>
          <div class="view__desc">
            <p class="view__desc-text">
              <img src="./img/speed.svg" alt="">
              246 км/ч
            </p>
            <p class="view__desc-text">
              <img src="./img/place.svg" alt="">
              4+1 пасс
            </p>
            <p class="view__desc-text">
              <img src="./img/location.svg" alt="">
              648 км
            </p>
            <a href="#!" class="view__desc-link">Подробнее</a>
          </div>
        </div>
        <div class="view__item">
          <h3 class="view__item-title">
            R44 Cadet with Floats
          </h3>
          <div class="view__item-img">

            <img src="./img/r8.webp" alt="">
          </div>
          <div class="view__desc">
            <p class="view__desc-text">
              <img src="./img/speed.svg" alt="">
              246 км/ч
            </p>
            <p class="view__desc-text">
              <img src="./img/place.svg" alt="">
              4+1 пасс
            </p>
            <p class="view__desc-text">
              <img src="./img/location.svg" alt="">
              648 км
            </p>
            <a href="#!" class="view__desc-link">Подробнее</a>
          </div>
        </div>
        <div class="view__item">
          <h3 class="view__item-title">
            R66 Turbine
          </h3>
          <div class="view__item-img">

            <img src="./img/r9.webp" alt="">
          </div>
          <div class="view__desc">
            <p class="view__desc-text">
              <img src="./img/speed.svg" alt="">
              246 км/ч
            </p>
            <p class="view__desc-text">
              <img src="./img/place.svg" alt="">
              4+1 пасс
            </p>
            <p class="view__desc-text">
              <img src="./img/location.svg" alt="">
              648 км
            </p>
            <a href="#!" class="view__desc-link">Подробнее</a>
          </div>
        </div>
        <div class="view__item">
          <h3 class="view__item-title">
            R66 Turbine Marine
          </h3>
          <div class="view__item-img">

            <img src="./img/r10.webp" alt="">
          </div>
          <div class="view__desc">
            <p class="view__desc-text">
              <img src="./img/speed.svg" alt="">
              246 км/ч
            </p>
            <p class="view__desc-text">
              <img src="./img/place.svg" alt="">
              4+1 пасс
            </p>
            <p class="view__desc-text">
              <img src="./img/location.svg" alt="">
              648 км
            </p>
            <a href="#!" class="view__desc-link">Подробнее</a>
          </div>
        </div>
      </div>
    </div>


  </section>
  <section class="ver" id="ver">
    <div class="container">
      <div class="block">
        <div class="block__text">

          <h1>Robinson R44</h1>
          <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры требуют определения и
            уточнения дальнейших направлений развития.</p>
          <div class="item">
            <a class="block__item" href="">Подробнее</a>
            <a class="block__item" href="">Конфигуратор</a>
          </div>
        </div>

        <div class="block--img">
          <img class="block__vertalyot" src="../img/3д модель.webp" alt="">
        </div>
        <div class="block__link">
          <ul class="block__list">
            <li class="block__li">287
              км/ч</li>
            <li class="block__li">6
              человек</li>
            <li class="block__li">870
              литров</li>
            <li class="block__li">5
              часов</li>
          </ul>
        </div>

      </div>
    </div>

  </section>

  <section class="about">
    <div class="container">
      <div class="about__box">
        <div class="about__text">

          <h1 class="about__title">
            <span>Кратко</span>
            <br> о компании
          </h1>
          <p class="about__subtitle">Значимость этих проблем настолько очевидна, что укрепление и развитие структуры
            требуют определения и уточнения дальнейших направлений развития.<br>

            <br> Развитие структуры требуют определения и уточнения дальнейших направлений развития.
          </p>
          <div class="about--ul">
            <h1>15 лет
              <p>Успешной работы</p>
            </h1>

            <h1>5000+
              <p>Довольных клиентов</p>
            </h1>

            <h1>100+
              <p>Человек
                в команде</p>
            </h1>
          </div>


            <a href="#" class="about-more">Узнать больше <img src="../img/strelka.webp" alt=""></a>





        </div>



        <div class="about--img">
          <img src="../img/Group 26.webp" alt="">
        </div>






      </div>
    </div>


    @@include('./desc.html')
    
    
    
    
  </section>
  @@include('./box.html')


</main>