<nav class="header__nav">
    <div class="container header__nav-container">
        <a href="#header" class="header__nav-logo">
            <img src="./img/Logo.svg" alt="">
        </a>
        <ul class="header__list">
            <li><a href="#model" class="header__list-link ">Модели</a></li>
            <li><a href="#ver" class="header__list-link">Обзор вертолетов</a></li>
            <li><a href="#!" class="header__list-link">О компании</a></li>
            <li><a href="#!" class="header__list-link">Преимущества</a></li>
            <!-- <li><a href="#!" class="header__list-link">Калькулятор</a></li> -->
            <li><a href="#!" class="header__list-link">Услуги</a></li>
            <li><a href="#!" class="header__list-link">Новости</a></li>
        </ul>
        <ul class="header__list">
            <li class="header__item"><a href="#!" class="header__link-lang">ENG</a></li>
            <li class="header__item"><a href="#!" class="header__link-lang active">RUS</a></li>
            <li><a href="#!" class="header__link">
                    <img src="./img/statistic.webp" alt="">
                </a></li>
            <li><a href="#!" class="header__link">
                    <img src="./img/search.svg" alt="">
                </a></li>
        </ul>
    </div>
</nav>
